body{
    background-image: url(../img/fondoperfil.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
}

.flecha{
    position: relative;
    bottom: 43vh;
    right: 33vh;
   }

   .body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.h2{
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    position: relative;
    bottom: 3vh;
}
.perfil {
    display: flex;
    align-items: center;
    background-color: #ABDEB6; /* Fondo verde */
    padding: 20px;
    margin-top: 20vh;
    border-style: solid;
    border-width: 2px;
    box-shadow: -3vh 3vh 1px #90C8A5;
}

.foto img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10vh;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    padding: 0 6%;
    padding-left: 5vh;
}

.informacion h1{
    font-size: 45px;
    margin-top: 30px;
}

.informacion p {
    font-size: 25px;
    font-family: cursive;
}

.sesion2 {
    display: flex;
    justify-content: space-between;
}

.cuadro {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.cuadro h2 {
    font-size: 25px;
    margin: 0;
    color: rgb(43, 40, 40);
}

.numero {
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 66, 66);
}
