body {
  background-image: url(http://localhost/prueba/public/img/fondo-retos2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.flecha {
  position: relative;
  left: 88%;
}

.cuadro1 {
  position: relative;
  left: 20%;
  width: 450px;
  height: 270px;
  background-color: white;
}

.ambiente {
  position: relative;
  top: 150px;
  left: 360px;
  font-size: 30px;
}

.cuadro2 {
  position: relative;
  left: 55%;
  top: 10%;
  width: 450px;
  height: 270px;
  background-color: white;
}

.letra {
  text-align: center;
  font-size: 30px;
}
